---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=z2ehwc7a6wvbg8n7sbmu7nuy&format=json&pageSize=17&show=storeId,storeType,longName,distance,address,hours,city,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-123.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 17,
          "total": 17,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.016",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeId,storeType,longName,distance,address,hours,city,phone&format=json&apiKey=z2ehwc7a6wvbg8n7sbmu7nuy",
          "stores": [
            {
              "storeId": 2740,
              "storeType": "Mobile",
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "distance": 3.25,
              "address": "3000 East First Ave",
              "hours": "Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 11-6",
              "city": "Denver",
              "phone": "303-270-9189"
            },
            {
              "storeId": 1224,
              "storeType": "BigBox",
              "longName": "Best Buy - Belmar",
              "distance": 5.28,
              "address": "384 S. Wadsworth Blvd",
              "hours": "Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 10-8",
              "city": "Lakewood",
              "phone": "303-742-8039"
            },
            {
              "storeId": 211,
              "storeTyp[...]
